.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 200px;
    width: 200px;
    background-color: black;
    
}

.grid-item{
    grid-column: 1/span 2;
    grid-row: 1/3;
    
}




