* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  border-bottom-left-radius: 100px;
  font-family: "Poppins", sans-serif;
  border-bottom-left-radius: 50%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  align-items: center;
  height: 40px;
}

.main-section__header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 20px;
  background-image: url("images/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100vw;

  border-bottom-left-radius: 100px;
}

h1 {
  font-weight: 700;
  line-height: 52px;
  font-size: 40px;
  padding-right: 30px;
  color: #344563;
}

p {
  margin-top: 20px;
  background-color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

a p {
  text-transform: uppercase;
  font-weight: 500;
  color: #6070ff;
  margin-top: 20px;
  font-size: 15px;
  line-height: 24px;
}

a {
  text-decoration-line: none;
}

div a img {
  margin-top: 10px;
  margin-right: 10px;
  width: 15px;
  height: 15px;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 15px;
  width: 28px;
  cursor: pointer;
}

.bar-top,
.bar-middle,
.bar-bottom {
  height: 3px;
  background-color: #6070ff;
}

.project-section {
  padding: 5% 5%;
  gap: 50px;
  background-color: #e5e5e5;
}

.project-items {
  background-color: white;
  border-radius: 24px;
  border: 1px solid #dfe1e6;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 100px;
}

.project-info {
  padding: 20px;
}

.project-info h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 12px;
  color: #344563;
}

.project-details {
  display: flex;
  padding-top: 15px;
  justify-content: space-between;
  color: #344563;
}

.project-details .project-detail {
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.project-details .project-stack {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.project-stack li {
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
  color: #afaaaa;
}

.project-info p {
  text-align: left;
}

.project-info .project-tech {
  display: flex;
  padding-top: 15px;
}

.project-tech span {
  padding: 6px 12px;

  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.03em;
  border-radius: 8px;
  margin-right: 10px;
  color: #6070ff;
  border: none;
  background: #ebebff;
}

.project-info .project-button {
  padding-top: 40px;
}

.project-info a {
  border: 1.5px solid #6070ff;

  border-radius: 16px;
  color: #6070ff;
  padding: 16px;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
}

.about-section {
  padding: 110px 24px;
}

.about-section h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: left;
  color: #344563;
}

.about-socials {
  padding-top: 10px;
  margin-left: 15px;
}
.about-section p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.about-section .about-socials {
  display: flex;
}

.about-socials a img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.about-button {
  margin-top: 40px;
}

.about-button a {
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #6070ff;
  border: 1.5px solid #6070ff;

  border-radius: 16px;

  padding: 16px;
}

.about-language {
  
  margin-top: 70px;
  list-style: none;
}





.about-language ul {
  margin-top: 40px;
  
}

.about-language p {
  background: #e5e5e5;

font-size: 15px;
font-weight: 500;


}

.about-language .language-arrow {
  border-bottom: 1px solid #dfe1e6;
  padding: 20px 0;
}

.about-language li span {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #344563;
  list-style: none;
  
}

.about-language .language-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.language-items .language-item {
  display: flex;
 
  background: #e5e5e5;
  
  

  

  border-radius: 8px;
}

.language-item img {
  margin: 5px 15px;
  
}




