* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

@media only screen and (max-width: 600px) {
  nav {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
    height: 40px;
  }

  section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    background-image: url("images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  h1 {
    font-weight: 700;
    line-height: 52px;
    font-size: 40px;
    padding-right: 30px;
  }

  p {
    margin-top: 20px;
    background-color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  a p {
    text-transform: uppercase;
    font-weight: 500;
    color: #6070ff;
    margin-top: 20px;
    font-size: 15px;
    line-height: 24px;
  }

  a {
    text-decoration-line: none;
  }

  div a img {
    margin-top: 10px;
    margin-right: 10px;
    width: 15px;
    height: 15px;
  }

  .hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15px;
    width: 28px;
    cursor: pointer;
  }

  .bar-top,
  .bar-middle,
  .bar-bottom {
    height: 3px;
    background-color: #6070ff;
  }
}

p {
  color: gray;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}
